<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color:black;">
    <div class="navbar-header">
      <ul class="nav navbar-nav" style="display:block;">
        <li><a href="index.html" style="font-size:24pt;color: aliceblue;">User Profile App</a></li>
      </ul>
    </div>

  </div>
</nav>


<!--<p>layout-component works!</p>-->
