<!--<p>user-profile works!</p>-->

<app-layout-component></app-layout-component>

<div style="text-align:center">

  <h1>
    Profiles
  </h1>
    <a style="align-content:center">
      <div class="card" width="500" height="600" style="align-content:center">
        <span>
          <img title="Profile" [src]=profile.Image style="align-content:center" alt="Avatar" width="500" height="600">
        </span>
        <span class="container">
          <h4><b>{{profile.name}}</b></h4>
          <p>{{profile.id}}</p>
          <!--<p>{{profile.address}}</p>-->
        </span>
      </div>
    </a>
</div>
