<app-layout-component></app-layout-component>

<!--<p>home-component works!</p>-->

<!--<div style="text-align:center">
  <h1>
    Button Click Event eg
  </h1>
  <button (click)="getUsers()">
    BTN 1
  </button>
  <h2></h2>
</div>-->

<div style="text-align:center">
  <table class="table">
    <thead>
      <h1>
        Profiles from AWS API
      </h1>
    </thead>
    <tbody>
      <tr *ngFor="let p of users">
        <!--<td>{{p.Image}}</td>-->
        <td align="center">
          <a class="nav-link" routerLink="/{{p.id}}" href="#" style="align-content:center">
            <div class="card" width="500" height="600" style="align-content:center">
              <span>
                <img title="Profile" [src]=p.Image class="nav-link" routerLink="/{{p.id}}" href="#" style="align-content:center" alt="Avatar" width="500" height="600">
              </span>
              <span class="container">
                <h4><b>{{p.name}}</b></h4>
                <p>{{p.id}}</p>
              </span>
            </div>

            
          </a>
        </td>
        <!--<td>{{p.name}}</td>-->
        <!--<td>{{p.id}}</td>-->
      </tr>
    </tbody>
  </table>
</div>

<!--<table class="table">
  <thead>data in image list</thead>
  <tbody>
    <tr *ngFor="let p of images">
      <td><img title="Profile" [src]=p style="resize:both"></td>
    </tr>
  </tbody>
</table>-->




